@import "tailwindcss";

@theme {
    --color-brand: #9B2C16;
    
    --color-light-red: #FCEAE4;
    --color-dark-red: #7A1401;
    --color-light-yellow: #FFDEAD;
    --color-dark-yellow: #7E5700;

    /* Text colors */
    --color-dark-text: #58413D;
    --color-light-text: #281900;
}

/* Home page carousel */
@keyframes slide-left {
  0%, 11.11%   { transform: translateX(0); }
  16.67%, 27.78% { transform: translateX(-100%); }
  33.33%, 44.44% { transform: translateX(-200%); }
  50%, 61.11%    { transform: translateX(-300%); }
  66.67%, 77.78% { transform: translateX(-400%); }
  83.33%, 94.44% { transform: translateX(-500%); }
  100%           { transform: translateX(-600%); }
}
.animate-slide-left {
  animation: slide-left 24s ease-in-out infinite;
}